<Config>
  <TimeZone></TimeZone>
  <RemoveApps>
    <App>DellInc.DellDigitalDelivery</App>
    <App>DellInc.DellOptimizer</App>
    <App>DellInc.DellSupportAssistforPCs</App>
    <App>Microsoft.GamingApp</App>
    <App>Microsoft.Getstarted</App>
    <App>Microsoft.GetHelp</App>
    <App>microsoft.windowscommunicationsapps</App>
    <App>Microsoft.Xbox.TCUI</App>
    <App>Microsoft.XboxIdentityProvider</App>
    <App>Microsoft.XboxSpeechToTextOverlay</App>
    <App>Microsoft.MicrosoftSolitaireCollection</App>
    <App>Microsoft.SkypeApp</App>
  </RemoveApps>
  <!-- Just testing to uninstall Win32 Apps, but not working 100% fine.
  <RemoveWin32Apps>
    <Win32App>Dell Pair</Win32App>
    <Win32App>Dell SupportAssist OS Recovery</Win32App>
    <Win32App>Dell Optimizer</Win32App>
    <Win32App>Dell Support Assist Remediation</Win32App>
    <Win32App>Dell Trusted Device Agent</Win32App>
    <Win32App>Dell Core Services</Win32App>
    <Win32App>Dell Display Manager</Win32App>
    <Win32App>Dell Digital Delivery Services</Win32App>
    <Win32App>Dell Peripheral Manager</Win32App>
    <Win32App>Dell Support Assist</Win32App>
  </RemoveWin32Apps>
  -->
  <OneDriveSetup>https://go.microsoft.com/fwlink/?linkid=844652</OneDriveSetup>
  <AddFeatures>
    <Feature>Microsoft.Windows.Sense.Client~~~~</Feature>
    <!-- If you do add a language pack, make sure you add these language add-ons for each one.
    <Feature>Language.Basic~~~es-ES~0.0.1.0</Feature>
    <Feature>Language.Fonts.PanEuropeanSupplementalFonts~~~~0.0.1.0</Feature>
    <Feature>Language.Handwriting~~~es-ES~0.0.1.0</Feature>
    <Feature>Language.OCR~~~es-ES~0.0.1.0</Feature>
    <Feature>Language.Speech~~~es-ES~0.0.1.0</Feature>
    <Feature>Language.TextToSpeech~~~es-ES~0.0.1.0</Feature>
    -->
    <!-- If you want .NET 3.5, uncomment this one.
    <Feature>NetFX3~~~~</Feature>
    -->
    <Feature>WMIC</Feature>
    <Feature>NetFX3~~~~</Feature>
  </AddFeatures>
  <!-- This section defines a list of Optional Features to disable. Add the Name of the feature as returned by Get-WindowsOptionalFeature -->
  <DisableOptionalFeatures>
    <Feature>MicrosoftWindowsPowershellV2Root</Feature>
    <Feature>WorkFolders-Client</Feature>
    <Feature>Recall</Feature>
    <Feature>MediaPlayback</Feature>
  </DisableOptionalFeatures>
  <!-- This section defines a list of Windows Capabilities to remove. Provide the name of the Capability to have it removed as returned by Get-WindowsCapability, excluding the tildes and version.  -->
  <RemoveCapability>
    <Capability>App.StepsRecorder</Capability>
    <Capability>Microsoft.Windows.PowerShell.ISE</Capability>
  </RemoveCapability>
  <Language></Language>
  <!-- If you want to set a language, customize and reference this file: <Language>Language.xml</Language> -->
  <DefaultApps>Associations.xml</DefaultApps>
  <RegisteredOwner>IT Hoedlmayr</RegisteredOwner>
  <RegisteredOrganization>Hoedlmayr International</RegisteredOrganization>
  <OEMInfo>
    <Manufacturer>Contoso</Manufacturer>
    <Model>PC</Model>
    <Logo>Contoso.bmp</Logo>
    <SupportPhone>+43726266011988</SupportPhone>
    <SupportHours>8am-4pm PST</SupportHours>
    <SupportURL>http://www.contoso.com</SupportURL>
  </OEMInfo>
</Config>
